In [1]:
import pandas as pd
#Task 1 --> Creating Data Frames and converting them to CSV
employees = pd.DataFrame({ 'ID':['A001','A002','A003','A004','A005'],
'Name':['John Alter','Alice Luxumberg','Tom Sabestine','Nina Adgra','Amy Johny'], 'Gender':['M','F','M','F','F'],
'City':['Paris','London','Berlin','Newyork','Madrid'],
'Age':[25,27,29,31,30]})
seniority = pd.DataFrame({ 'ID':['A001','A002','A003','A004','A005'],
'Designation Level':[2,2,3,2,3] })
project = pd.DataFrame({
'ID':['A001','A002','A003','A004','A005','A002','A005','A003','A001','A003','A001','A004','A004','A005'],
'Project':['Project 1','Project 2','Project 3','Project 4','Project 5','Project 6','Project 7','Project 8', 'Project 9','Project 10','Project 11','Project 12','Project 13','Project 14'],
'Project Cost':[1002000,2000000,4500000,5500000,None,680000,400000,350000,None,300000,2000000,1000000,3000000,200000],
'Status':['Finished','Ongoing','Finished','Ongoing','Finished','Failed','Finished','Failed',
'Ongoing','Finished','Failed','Ongoing','Finished','Finished'] })
employees.to_csv("employees.csv",index = False)
seniority.to_csv("seniority.csv", index=False)
project.to_csv("project.csv", index=False)

In [2]:
#Task 2 --> For missing values in project cost, calculated mean value from top row to above that value
proj = pd.read_csv("project.csv")
for i in range(len(proj)):
    if pd.isna(proj.loc[i,'Project Cost']):
        proj.loc[i,'Project Cost'] = proj.loc[:i-1, 'Project Cost'].mean()
        print(proj)

      ID     Project  Project Cost    Status
0   A001   Project 1     1002000.0  Finished
1   A002   Project 2     2000000.0   Ongoing
2   A003   Project 3     4500000.0  Finished
3   A004   Project 4     5500000.0   Ongoing
4   A005   Project 5     3250500.0  Finished
5   A002   Project 6      680000.0    Failed
6   A005   Project 7      400000.0  Finished
7   A003   Project 8      350000.0    Failed
8   A001   Project 9           NaN   Ongoing
9   A003  Project 10      300000.0  Finished
10  A001  Project 11     2000000.0    Failed
11  A004  Project 12     1000000.0   Ongoing
12  A004  Project 13     3000000.0  Finished
13  A005  Project 14      200000.0  Finished
      ID     Project  Project Cost    Status
0   A001   Project 1     1002000.0  Finished
1   A002   Project 2     2000000.0   Ongoing
2   A003   Project 3     4500000.0  Finished
3   A004   Project 4     5500000.0   Ongoing
4   A005   Project 5     3250500.0  Finished
5   A002   Project 6      680000.0    Failed
6   A005   Project 7      400000.0  Finished
7   A003   Project 8      350000.0    Failed
8   A001   Project 9     2210312.5   Ongoing
9   A003  Project 10      300000.0  Finished
10  A001  Project 11     2000000.0    Failed
11  A004  Project 12     1000000.0   Ongoing
12  A004  Project 13     3000000.0  Finished
13  A005  Project 14      200000.0  Finished

In [11]:
#Task 3 --> Drop Name column and create First Name, Last Name
import pandas as pd
emp = pd.read_csv("employees.csv")
emp[["First_Name","Last_Name"]] = emp["Name"].str.split(" ", n=1, expand = True)
emp.drop(columns = ["Name"], inplace = True)
print(emp)

     ID Gender     City  Age First_Name  Last_Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [49]:
#Task 4 --> Merged all columns from all tables into single file final
seniority =  pd.read_csv("seniority.csv")
proj = pd.read_csv("project.csv")
temp = pd.merge(emp, seniority, on = "ID", how = "inner")
final = pd.merge(temp, proj, on = "ID", how = "inner")
final.to_csv("final.csv", index = False)
print(type(final))
print(final.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['ID', 'Gender', 'City', 'Age', 'First_Name', 'Last_Name',
       'Designation Level', 'Project', 'Project Cost', 'Status'],
      dtype='object')

In [35]:
#Task 5 --> Added new column Bonus
final["Bonus"] = 0
final.loc[final["Status"] == "Finished", "Bonus"] = final["Project Cost"] *0.05
print(final)

      ID Gender     City  Age First_Name  Last_Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project  Project Cost    Status     Bonus
0    Project 1     1002000.0  Finished   50100.0
1    Project 9           NaN   Ongoing       0.0
2   Project 11     2000000.0    Failed       0.0
3    Project 2     2000000.0   Ongoing       0.0
4    Project 6      680000.0    Failed       0.0
5    Project 3     4500000.0  Finished  225000.0
6    Project 8      350000.0    Failed       0.0
7   Project 10      300000.0  Finished   15000.0
8    Project 4     5500000.0   Ongoing       0.0
9   Project 12     1000000.0   Ongoing       0.0
10  Project 13     3000000.0  Finished  150000.0
11   Project 5           NaN  Finished       NaN
12   Project 7      400000.0  Finished   20000.0
13  Project 14      200000.0  Finished   10000.0

In [37]:
#Task 6 --> If Status isFailed then drop Designation Level by 1, and remove all Designation Level greater than 4 
final.loc[final["Status"] == "Failed", "Designation Level"] = (final["Designation Level"]-1)
final = final[final["Designation Level"]<4]
print(final)

      ID Gender     City  Age First_Name  Last_Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  1
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  1
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  2
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project  Project Cost    Status
0    Project 1     1002000.0  Finished
1    Project 9           NaN   Ongoing
2   Project 11     2000000.0    Failed
3    Project 2     2000000.0   Ongoing
4    Project 6      680000.0    Failed
5    Project 3     4500000.0  Finished
6    Project 8      350000.0    Failed
7   Project 10      300000.0  Finished
8    Project 4     5500000.0   Ongoing
9   Project 12     1000000.0   Ongoing
10  Project 13     3000000.0  Finished
11   Project 5           NaN  Finished
12   Project 7      400000.0  Finished
13  Project 14      200000.0  Finished

In [50]:
#Task 7 --> Added prefix based on Gender and dropped gender column
for i in range(len(final)):
    name = final.loc[i, "First_Name"]
    if final.loc[i,"Gender"] == "M":
        if not name.startswith("Mr."):
            final.loc[i,"First_Name"] = "Mr." + final.loc[i,"First_Name"]
    else:
        if not name.startswith("Mrs."):
            final.loc[i,"First_Name"] = "Mrs." + final.loc[i,"First_Name"] 
final.drop(columns = ["Gender"], inplace = True)
print(final)

      ID     City  Age First_Name  Last_Name  Designation Level     Project  \
0   A001    Paris   25    Mr.John      Alter                  2   Project 1
1   A001    Paris   25    Mr.John      Alter                  2   Project 9
2   A001    Paris   25    Mr.John      Alter                  2  Project 11
3   A002   London   27  Mrs.Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs.Alice  Luxumberg                  2   Project 6
5   A003   Berlin   29     Mr.Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr.Tom  Sabestine                  3   Project 8
7   A003   Berlin   29     Mr.Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs.Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs.Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs.Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs.Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs.Amy      Johny                  3   Project 7
13  A005   Madrid   30    Mrs.Amy      Johny                  3  Project 14

    Project Cost    Status
0      1002000.0  Finished
1            NaN   Ongoing
2      2000000.0    Failed
3      2000000.0   Ongoing
4       680000.0    Failed
5      4500000.0  Finished
6       350000.0    Failed
7       300000.0  Finished
8      5500000.0   Ongoing
9      1000000.0   Ongoing
10     3000000.0  Finished
11           NaN  Finished
12      400000.0  Finished
13      200000.0  Finished

In [52]:
#Task 8 -->
for i in range(len(final)):
    if final.loc[i, "Age"]>29:
        final.loc[i,"Designation Level"] = final.loc[i,"Designation Level"]+1
print(final)

      ID     City  Age First_Name  Last_Name  Designation Level     Project  \
0   A001    Paris   25    Mr.John      Alter                  2   Project 1
1   A001    Paris   25    Mr.John      Alter                  2   Project 9
2   A001    Paris   25    Mr.John      Alter                  2  Project 11
3   A002   London   27  Mrs.Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs.Alice  Luxumberg                  2   Project 6
5   A003   Berlin   29     Mr.Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr.Tom  Sabestine                  3   Project 8
7   A003   Berlin   29     Mr.Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs.Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs.Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs.Nina      Adgra                  3  Project 13
11  A005   Madrid   30    Mrs.Amy      Johny                  4   Project 5
12  A005   Madrid   30    Mrs.Amy      Johny                  4   Project 7
13  A005   Madrid   30    Mrs.Amy      Johny                  4  Project 14

    Project Cost    Status
0      1002000.0  Finished
1            NaN   Ongoing
2      2000000.0    Failed
3      2000000.0   Ongoing
4       680000.0    Failed
5      4500000.0  Finished
6       350000.0    Failed
7       300000.0  Finished
8      5500000.0   Ongoing
9      1000000.0   Ongoing
10     3000000.0  Finished
11           NaN  Finished
12      400000.0  Finished
13      200000.0  Finished